streamlit>=1.35.0
google-genai>=1.65.0
faiss-cpu
numpy>=1.24.0
requests
python-dotenv
google
duckduckgo-search
yfinance
browser-use
playwright
langchain
langchain-google-genai
nest-asyncio
matplotlib
deep-translator
