streamlit
google-genai
faiss-cpu
numpy
requests
python-dotenv
google
duckduckgo-search
yfinance
googletrans==4.0.0-rc1
browser-use
playwright
langchain
langchain-google-genai
protobuf==3.20.3
browser-use
langchain-google-genai
playwright
nest-asyncio
